@-ms-viewport {
   width: device-width;
}
 @-o-viewport {
   width: device-width;
}
 @viewport {
   width: device-width;
}
 a {
   color: inherit;
}
 a:hover {
   color: inherit;
   text-decoration: none;
}
 b, strong {
   font-weight: bold;
}
 img {
   max-width: 100%;
}
 .clear-both:before, .clear-both:after {
   content: '';
   display: table;
   clear: both;
}
 body {
   font-family: "Montserrat", sans-serif;
   font-size: 14px;
   font-weight: normal;
   line-height: 1.5;
   color: #383a4a;
   background-color: #f9f9f9;

}
 .navbar-maxdino {
   background-color: #383a4a;
   border: none;
   border-radius: 0;
   color: #fff;
}
 .section {
   border-radius: 5px;
   background-color: #fff;
   padding: 15px 20px;
}
 .section .section-title {
   font-size: 12px;
   padding-bottom: 5px;
   border-bottom: 2px solid #f9f9f9;
   text-transform: uppercase;
}
 .section .section-title a {
   float: right;
   color: #36b662;
   text-transform: none;
}
.question-txt{
   background: #ffffff ; 
   color: #36b662; 
   font-family: Montserrat; 
   font-size: 16px; 
   border-radius: 6px; 
   font-weight: bold;
   padding: 10px 10px 10px 36px; 
   width: 191px; height: 39px;
}
#navbarDropdown
{
  background: #ffffff ; color: #36b662; 16px; border-radius: 6px ;padding: 10px 10px 10px 36px;
}

 .section .section-title a:before, .section .section-title a:after {
   content: '';
   display: table;
   clear: both;
}
 .section.section-news {
   background: none;
   border-radius: 0;
   padding: 0;
   margin-top: 20px;
}

#navbarDropdown::after
{
   float: right;
   margin-top: 7px;
   color:#000;
}
.search-txt
{
   width: 150%;
  height: 39px;
  border-radius: 19px;
  background-color: #ffffff;
}
.search-icon
{
   margin-left: 10px;
   position:absolute; color:#000; font-size: 24px;
}
#icon-add
{
  float: left; transform: scale(1.5); padding: 15px;
}
.owl-prev {
                left: 0;
            }

            .owl-next {
                right: 0;
            }
 .section.section-news .item-news {
   position: relative;
}
#post-status
{
  border-width: 0px;
  font-family: Montserrat;
  font-size: 18px;
  resize: none;
  border: none;
  border-bottom: 2px solid #e8eaef;
  height: 122px;
}

#text-right
{
  font-size:12px; color: #383a4a; display: flex; align-items: center; float:right;
}
.icon-facebook {
  width: 24px;
  height: 24px;
  object-fit: contain;
}
.icon-icon-facebook
{
  color: #3b5999; font-size: 24px; margin-left: 10px; margin-right: 10px;
}

.post-feed-title
{
  font-weight: bold; font-size: 16px;color: #383a4a;
}
.post-feed-detail
{
  font-size: 12px; line-height: 1.5; color: #383a4a;
}
 .section.section-news .item-news .item-news-content {
   top: 0;
   left: 0;
   width: 100%;
   position: absolute;
   z-index: 1;
   color: #fff;
   padding: 10px;
   font-size: 12px;
}
}
}
}
}
 .section.section-news .item-news .item-news-content .item-news-title {
   font-size: 14px;
   font-weight: bold;
}
 .section.section-news .item-news .item-news-content .item-news-detail {
   margin: 5px 0 10px 0;
}
 .section.section-news .item-news .item-news-content .item-news-name {
   font-size: 10px;
   font-weight: bold;
}
 .section.section-video .item-video {
   margin-top: 20px;
}
 .section.section-video .item-video .item-video-img {
   position: relative;
   margin-bottom: 10px;
}
 .section.section-video .item-video .item-video-img a {
   position: absolute;
   font-size: 45px;
   color: #fff;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-50%);
}
 .section.section-connection .item-connection {
   padding: 10px 0;
   position: relative;
}
 .section.section-connection .item-connection .item-connection-img {
   position: absolute;
   top: 10px;
   left: 0;
   width: 30px;
   height: 30px;
   border-radius: 50%;
}
 .section.section-connection .item-connection .item-connection-content {
   padding-left: 40px;
}
 .section.section-connection .item-connection .item-connection-content .user-name {
   color: #36b662;
}
 .section.section-connection .item-connection .item-connection-content span {
   color: #a9aaad;
}
 .section.section-connection .item-connection .item-connection-content .text {
   color: #383a4a;
}
 .section.section-post {
   padding: 20px 20px 10px 10px;
   box-shadow: 0 15px 27px 0 rgba(56,58,74,0.1);
}
.ul-post-content li
{
   display: inline-block; *display: inline;
}
 .section.section-post + div {
   margin-top: 20px;
}
 .section.section-post.feed {
   box-shadow: none;
}
 .section.section-post .head-post {
   position: relative;
}
 .section.section-post .head-post .avatar-user {
   position: absolute;
   top: 0;
   left: 0;
   width: 42px;
   height: 42px;
   border-radius: 50%;
}
 .section.section-post .head-post .head-post-content {
   padding-left: 52px;
}
 .section.section-post .head-post .head-post-content .head-post-name-user {
   font-weight: bold;
   color: #36b662;
}
.list-item-news{
  margin: 20px 0;
  position: relative;
}
.owl-theme .owl-nav button{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.owl-nav button:nth-child(1){
  left: -30px;
}
.owl-nav button:last-child{
  right: -30px;
}
@media (max-width: 575px) {
  .owl-nav button:nth-child(1){
  left: -20px;
}
.owl-nav button:last-child{
  right: -20px;
}
 .section-video
 {
  display: none;
 }
 .section-connection
 {
  display: none;
 }
 #search-txt
 {
   display: none;
 }
}
.owl-theme .owl-nav button span{
  font-size: 24px;
  line-height: 24px;
  color: #000;
  font-weight: bold;
}